#root {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}
h1{
  font-size: 14px;
}
.main-container {
  width: 100%;
  max-width: 700px; /* Set a maximum width for larger screens */
  margin: 0 auto;
  height: 100vh; /* Set the height of the chat container to fill the viewport */
}
.chat-container {
  height: calc(100vh - 56px); /* Adjust the height of the chat container to leave space for the header */
}

@media only screen and (max-width: 600px) {

  .App {
    padding: 10px;
    margin-bottom: 0;
    bottom: 0;
  }

  h1 {
    text-align: center;
    font-size: 12px; /* Adjust font size for better mobile readability */
  }

  .main-container {
    width: 100%; /* Make it take full width on smaller screens */
    max-width: none; /* Remove the max-width on smaller screens */
    margin: 0;
    overflow-y: hidden; /* Hide overflow to prevent scrolling */
    height: auto;
  }

  .chat-container {
    height: calc(100vh - 56px); /* Adjust the height for the header on mobile */
  }
}

